{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
		<div class="card shadow p-4" style="width: 100%; max-width: 400px;">
			<h1 class="h4 mb-4 text-center">Connexion à votre compte</h1>

			<form method="post">
				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3 text-success text-center">
						Connecté en tant que
						{{ app.user.userIdentifier }}.
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}

				<div class="mb-3">
					<label for="inputEmail" class="form-label">Email</label>
					<input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				</div>

				<div class="mb-3">
					<label for="inputPassword" class="form-label">Mot de passe</label>
					<input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				<button class="btn w-100 text-white" type="submit" style="background-color: #28a745;">
					Se connecter
				</button>
			</form>

			<div class="text-center mt-3">
				<small>Pas encore de compte ?
					<a href="{{ path('app_user') }}">Créer un compte</a>
				</small>
			</div>
		</div>
	</div>
{% endblock %}

